<div class="card">
  <div class="card-header row">
    <h2 class="col-10"> Article</h2>
    <%= button_to "Edit", edit_article_path(@article),
                  :method => :get, class: "btn btn-info" %>
    <%= button_to "Back", articles_path,
                  :method => :get, class: "btn" %>
  </div>
  <div class="card-body">
    <h5>Title:</h5>
    <%= @article.title %>
    <h5>Text:</h5>
    <%= @article.text %>
    <div class="card col-6">
      <h2 class="card-header">Comments</h2>
      <div class="card-body">
        <%= render @article.comments %>
        <h4>Add a comment:</h4>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>


